<h1>Hello stranger!</h1>
<p>Welcome to the prehistory of Creativity Now</p>
<p>The most awesome place you've ever imagined to get top notch creativity recipes.</p>
<p>Check the methods <%= link_to "here", recipes_path %>.</p>
